{% extends "main.html" %}
{% load static %}
{% load i18n %}




{% block content %}
<section>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'image/BANNER_1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/BANNER_2.jpg' %}"  class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/BANNER_3.jpg' %}"  class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/BANNER_4.jpg' %}"  class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  <div class="container mt-5 mb-3">
    <h3 class="text-center mb-4">{% trans 'Ürünlerimiz' %}</h3>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-lg-2 row-cols-xl-4">
          {% for kategori in kategoriler %}
            <div class="col kategori-col mb-3">
                  <a href="{% url 'kategori' kategori.slug %}" class="d-flex justify-content-center mb-3">
                      <div class="card category-card" style="width: 18rem;">
                          <img src="{{ kategori.kategoriResim.url }}" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-text text-center">{{ kategori.isim }}</h5>
                          </div>
                      </div>
                  </a>         
            </div>
          {% endfor %}

    </div>
  </div>


  <div class="alt-banner mt-3 mb-3">
      
  </div>

  <div class="container main-social-div mt-3 mb-3">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 row-cols-xl-2">
          <div class="col text-center iframe-container">
             <h4>{% trans 'Tanıtım Videomuz' %}</h4>
            <iframe  width="560" height="315" src="https://www.youtube.com/embed/fCdwnQjWeEY?si=ys6k7EvW3uuwkV1r" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div class="col text-center">
             <h4>{% trans 'Sosyal Medya Hesaplarımız' %}</h4>
             <div class="social-media-div">
                  <div class="d-flex justify-content-center align-items-center my-5 social-ic-div">
                    <div class="face-div mx-4">
                      <a href="https://www.facebook.com/guvensandoor/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                    </div>
                    <div class="inst-div mx-4">
                      <a href="https://www.instagram.com/guvensankapi/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                    </div>
                    {% comment %} <div class="you-div mx-4">
                      <a href=""><i class="fa-brands fa-youtube"></i></a>
                    </div> {% endcomment %}
                  </div>
             </div>
          </div>
    </div>
  </div>


</section>


{% endblock content %}